@model IEnumerable<ModuloAdministracion.Models.Producto>
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="site-navbar py-2">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <div class="site-logo">
                    <a asp-controller="Site" asp-action="Index" class="js-logo-clone">Farmacia Alicia</a>
                </div>
            </div>
            <div class="main-nav d-none d-lg-block">
                <nav class="site-navigation text-right text-md-center"
                     role="navigation">
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li><a asp-controller="Site" asp-action="Index">Inicio</a></li>
                        <li><a asp-controller="Site" asp-action="InformacionInstitucional">Información institucional</a></li>
                        <li class="active"><a asp-controller="Site" asp-action="Productos">Productos</a></li>
                        <li><a asp-controller="Site" asp-action="InicioDeSesion">Iniciar sesión</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="index.html">Inicio</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Productos</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row" style="justify-content:center">
            @if (Model.Count() == 0)
            {
                <h3 style="margin-top: 8px;" class="text-dark"><a href="#">No hay productos por el momento</a></h3>
            }

            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="#">
                        <img src="@Html.DisplayFor(modelItem => item.RutaImagen)" alt="Image" style="width:200px; max-height: 285px;" />
                    </a>
                    <h3 style="margin-top: 8px;" class="text-dark"><a href="#">@Html.DisplayFor(modelItem => item.Nombreproducto)</a></h3>
                    <p class="price">@Html.DisplayFor(modelItem => item.Precio) bs</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="site-section bg-secondary bg-image"
     style="background-image: url('images/bg_2.jpg')">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#"
                   class="banner-1 h-100 d-flex"
                   style="background-image: url('../images/bg_1.jpg')">
                    <div class="banner-1-inner align-self-center">
                        <h2>Produtos de la farmacia Alicia</h2>
                        <p>
                            La farmacia Alicia provee los mejores productos para ti y tu
                            familia.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#"
                   class="banner-1 h-100 d-flex"
                   style="background-image: url('../images/bg_2.jpg')">
                    <div class="banner-1-inner ml-auto align-self-center">
                        <h2>Farmacia Alicia</h2>
                        <p>
                            Te ofrece calidad en atención y en los productos que
                            ofrecemos.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>